.list-header{
    background-color: $offwhite;
    border: 1px solid darken($color: $offwhite, $amount: 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}